@import "tailwindcss";
/* In your global CSS or Tailwind config */
@font-face {
  font-family: 'Druk Wide';
  src: url('/fonts/DrukWideBold.woff') format('woff2'),
       url('/fonts/DrukWide-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}